.botao-simples{
    color: var(--cor-3);
    position: relative;
    padding: 10px 16px;
    box-sizing: border-box;
    margin-right: 30px;
}

.botao-simples.seta{
    display: flex;
    align-items: center;
    justify-self: center;
    box-sizing: border-box;
    
}

.botao-simples.seta::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-top: 4px;
    background: url(/assets/global-icons/seta-verde.svg) no-repeat;
    cursor: pointer;
    box-sizing: border-box;
    right: -15px;
    position: absolute;
   
}

.botao-gradiente{
    border: none;
    border-radius: 4px;
    padding: 18px 25px;
    cursor: pointer;
    background: linear-gradient(94.11deg, #74973E 0%, #3E9765 53.51%);
    box-sizing: border-box;
}

.botao-gradiente.seta2::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-left: 10px;
    background: url(/assets/global-icons/seta-branca.svg) no-repeat;
}

.botao-branco{
    border: none;
    border-radius: 4px;
    padding: 18px 25px;
    cursor: pointer;
    background: var(--cor-0);
    box-sizing: border-box;
}

.botao-branco.seta::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    margin-top: 4px;
    align-content: center;
    background: url(/assets/global-icons/seta-verde-btn-branco.svg) no-repeat;
}

.botao-verde{
    border: none;
    border-radius: 4px;
    padding: 18px 25px;
    cursor: pointer;
    background: var(--cor-4);
    box-sizing: border-box;
}

.botao-verde.seta2::after{
    content: '';
    display: inline-block;
    width: 16px;
    height: 12px;
    margin-left: 10px;
    margin-top: 4px;
    text-align: center;
    background: url(/assets/global-icons/seta-branca.svg) no-repeat;
}