:root{
    --cor-0: #ffffff;
    --cor-1: #E0ECF8;
    --cor-2: #7CFF91;
    --cor-3: #a2c06b;
    --cor-4: #3e9765;
    --cor-5: #6f8397;
    --cor-6: #64788c;
    --cor-7: #243c54;
    --cor-8: #969696;
    --cor-9: #1D2732;
    --cor-10: #0D1823;
    --cor-11: #000E1D;
}

.cor-0{
    color: var(--cor-0);
}

.cor-1{
    color: var(--cor-1);
}

.cor-2{
    color: var(--cor-2);
}

.cor-3{
    color: var(--cor-3);
}

.cor-4{
    color: var(--cor-4);
}

.cor-5{
    color: var(--cor-5);
}

.cor-6{
    color: var(--cor-6);
}

.cor-7{
    color: var(--cor-7);
}

.cor-8{
    color: var(--cor-8);
}

.cor-9{
    color: var(--cor-9);
}

.cor-10{
    color: var(--cor-10);
}

.cor-11{
    color: var(--cor-11);
}