.consultoria-bg{
    background-image: url("/assets/consultoria/img3.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    padding-bottom: 340px;
}

.consultoria{
    max-width: 1150px;
    background: rgba(60, 76, 91, 0.8);
    backdrop-filter: blur(80px);
    border-radius: 8px;
    padding: 56px;
    position: relative;
    top: 470px;
}

.consultoria ul{
    padding-top: 36px;
    padding-bottom: 36px;
}

.consultoria li{
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
}

.consultoria a{
    margin-bottom: 20px;
}

@media (max-width: 800px){
    .consultoria-bg{
        padding-bottom: 0px;
    }
    .consultoria{
        top: 0;
        max-width: 750px;
        border-radius: 0;
    }

    .consultoria h1{
        font-size: 2rem;
        text-align: center;
    }

    .consultoria p{
        text-align: justify;
    }

    .consultoria li{
        padding-bottom: 60px;
    }
    .consultoria a{
        justify-content: center;
    }
} 

@media (max-width: 500px){
    .consultoria-bg{
        padding-bottom: 0px;
    }
    .consultoria{
        top: 0;
        max-width: 500px;
        border-radius: 0;
        min-width: 300px;
    }

    .consultoria h1{
        font-size: 1.5rem;
        text-align: center;
    }

    .consultoria p{
        text-align: justify;
        
    }

    .consultoria li{
        padding-bottom: 60px;
        min-width: 300px;
    }
    .consultoria a{
        justify-content: center;
    }
} 