body, html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Sarabun', sans-serif;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

main, h1, h2, h3, p, ul, li, a{
    margin: 0px;
    padding: 0px;
}

ul{
    list-style: none;
}

li, a{
    text-decoration: none;
}

.container{
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}