.introducao-bg{
    background-image: url("/assets/img/img1.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
    
}
.introducao-bg .filtro-banner{

    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(9, 17, 24, 0.3 ); */
    /* background:  linear-gradient(90deg, rgba(1,0,2,1) 34%, rgba(255,255,255,0) 100%); */
    /* background:  linear-gradient(141.77deg, #C4C4C4 22.03%, rgba(196, 196, 196, 0) 63.05%); */
  
}

.introducao-bg::after{
    content: '';
    display: block;
    background-image: url(/assets/global-icons/detalhes-main.svg);
    background-position: top;
    background-size: auto;
    position: absolute;
    width: 45%;
    height: 100%;
    top: 0;
    
}

.introducao-bg::before{
    /* background-image: linear-gradient(to right, var(--cor-10) 45%,  var(--cor-10) 50.31%,  var(--cor-10) 55%, rgba(196, 196, 196, 0) 100.92%); */
    background: linear-gradient(90deg, rgba(13,24,35,1) 34%, rgba(255,255,255,0) 100%);
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.introducao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;
    position: relative;
    z-index: 2;
}

.introducao h1{
    margin-bottom: 24px;
    grid-column: 1;
}
.introducao p{
    grid-column: 1;
}

.introducao a{
    grid-column: 1;
    box-sizing: border-box;
    place-self: start;
    margin-top: -80px;
}

.detalhes-introducao{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
    padding-bottom: 60px;
}

@media(max-width: 800px){
    .introducao-informacao h1{
        font-size: 3.5rem;
    }
    .introdução{
        grid-template-columns: 1fr;
    }
    .detalhe-crm{
       display: none;
    }
    .introducao-bg::before{
        /* background-image: linear-gradient(to right, var(--cor-10) 55%,  var(--cor-10) 50.31%,  var(--cor-10) 75%, rgba(196, 196, 196, 0) 100.92%); */
        /* background:   linear-gradient(90deg, rgba(13,24,35,1) 34%, rgba(255,255,255,0) 100%);; */
        /* background-color: rgba(13,24,35,1); */
        content: '';
        display: block;
        position: absolute;
        width: 780px;
        height: 100%;
        top: 0;
    }
}

@media(max-width: 500px){
    .introducao-informacao h1{
        font-size: 3.2rem;
    }
    .introducao-informacao h3{
        font-size: 0.9rem;
    }
    .introducao-bg::after{
        opacity: 0.5;
        width: 100%;
    }
    .introducao-bg::before{
        background-color: rgba(13,24,35,1);
    }

    .introducao-informacao {
        text-align: start;
    }
}

@media (max-width: 380px){
    #informativo {
        max-width: 300px;
        margin-bottom: 60px;
        text-align: start;
        place-self: start;
    }

    .detalhes-introducao{
        max-width: 120px;
        margin-top: 40px;
        margin-left: -28px;
    }

    .introducao-informacao {
        text-align: start;
        max-width: none;
    }
    
}