.swiper-parceiros{

   
}
.swiper-parceiros .swiper-slide {
    max-width: 200px;
    padding: 20px;
    margin: auto;
}

.parceiros-bg{
    background-color: var(--cor-11);
}

/* .parceiros{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
} */

/* .parceiros li{
    padding: 20px;
    box-sizing: border-box;
    max-width: 100%;
} */
 .item-slide img{
    max-width: 200px;
}