.produtos-bg{
    background-color: var(--cor-9);
}

.produtos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 150px;
}

.produto-titulo{
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    grid-column: 1/ -1;
}

.comentario{
    padding: 0px 10px 10px 10px;
    max-width: 190px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    text-align: center;
    place-self: start;
    margin-top: 32px;
    margin-bottom: 32px;
}

.comentario img{
    margin: 0px auto;
    display: block;
    padding: 15px 0;
}

.produtos-informacao{
    max-width: 350px;
}

.produtos-informacao h1{
    padding-bottom: 15px;
}

.vendas, .crm{
    display: flex;
    gap: 30px;
}

.vendas{
    grid-column: 1;
    place-self: start;
}

.crm{
    grid-column: 2 ;
    place-self: center;
    box-sizing: border-box;
}

.crm img{
    place-self: center;
}


@media (max-width: 1100px) {
    .produtos{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .vendas{
        grid-column: 1;
        max-width: 500px;
        /* display: block; */
        place-self: center;
        padding-bottom: 90px;
    }
    .crm{
        /* display: block; */
        grid-column: 1 ;
        gap: 30px;
        max-width: 500px;
    }
    .crm img{
        place-self:center;
        max-width: 350px;
    }
    .vendas img{
        place-self: center;
        
    }
    .produtos-informacao{
        width: 350px;
    }
}

@media (max-width: 800px) {
    .produtos{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .vendas{
        grid-column: 1;
        max-width: 500px;
        /* display: block; */
        place-self: center;
        padding-bottom: 90px;
    }
    .crm{
        /* display: block; */
        grid-column: 1 ;
        gap: 30px;
        max-width: 500px;
    }
    .crm img{
        place-self:center;
        max-width: 250px;
    }
    .vendas img{
        place-self: center;
        
    }
    .comentario {
       display: none;
    }
    .produtos-informacao{
        width: 250px;
    }
}

@media (max-width: 500px) {
    .produto-titulo{
        font-size: 2rem;
    }

    .vendas{
        grid-column: 1;
        display: block;
    }

   #produto-titulo{
       display: block;
       font-size: 2rem;
   }

   .produtos-informacao{
       margin: 0 auto;
       text-align: center;
       display: flex;
       flex-direction: column;
   }
   .crm{
    display: flex;
    flex-direction: column;
   }

   .crm h1{
    display: block;
    font-size: 2rem;
   }

   .vendas-infomacao{
       padding-top: 30px;
   }
}