.quem-somos-bg{
    background-color: var(--cor-11);
    box-shadow: inset 0 -220px var(--cor-0);
}

.quem-somos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 30px;
}

.quem-somos-info{
    grid-column: 1;
    align-self: start;
    padding-top: 100px;
}

#informativo{
    margin-bottom: 120px;
    line-height: 1.8;
    width: 600px;
    letter-spacing: -0.02em;
}
.quem-somos-info h3{
    margin-bottom: 15px;
}
.quem-somos-info p{
    text-align: start;
}

.quem-somos-list{
    grid-row: 2;
    align-self: end;
}

.quem-somos-list ul{
    display: flex;
    box-sizing: border-box;
    padding-top: 65px;
}

.quem-somos-list li{
    display: flex;
    flex-direction: column;
    min-width: 180px;
    background-color: var(--cor-0);
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid var(--cor-4);
    border-radius: 4px;
    z-index: 1;
}


.quem-somos-imagem{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
    z-index: 1;
}

@media (max-width: 700px) {
    .quem-somos{
        display: grid;
        grid-template-columns: 1fr;
    }

    #informativo{
        max-width: 450px;
        margin-bottom: 60px;
    }

    .quem-somos-list ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 650px;
    }

    .quem-somos-imagem{
        display: none;
    }
}

@media (max-width: 650px) {
    .quem-somos{
        display: grid;
        grid-template-columns: 1fr;
    }

    #informativo{
        max-width: 500px;
        margin-bottom: 60px;
        text-align: justify;
    }

    .quem-somos-list ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 650px;
        place-self: center;
    }

    .quem-somos-imagem{
        display: none;
    }
}


@media (max-width: 550px) {
    .quem-somos{
        display: grid;
        grid-template-columns: 1fr;
    }

    #informativo{
        max-width: 400px;
        margin-bottom: 60px;
        text-align: justify;
    }

    .quem-somos-list ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 450px;
        place-self: center;
    }

    .quem-somos-imagem{
        display: none;
    }
}

@media (max-width: 550px) {
    .quem-somos{
        display: grid;
        grid-template-columns: 1fr;
    }

    #informativo{
        max-width: 400px;
        margin-bottom: 60px;
        text-align: justify;
    }

    .quem-somos-list ul{
        display: grid;
        grid-template-columns: 1fr ;
        max-width: 350px;
        margin: 0 auto;
        gap: 10px;
    }

    .quem-somos-imagem{
        display: none;
    }
}

@media (max-width: 380px) {
    .quem-somos{
        display: grid;
        grid-template-columns: 1fr;
    }

    #informativo{
        max-width: 300px;
        margin-bottom: 60px;
        text-align: center;
    }

    .quem-somos-list ul{
        display: grid;
        grid-template-columns: 1fr ;
        max-width: 300px;
        margin: 0 auto;
        gap: 10px;
        box-sizing: border-box;
    }

    .quem-somos-imagem{
        display: none;
    }
}